body{
    background: rgb(123, 196, 245);
    background: linear-gradient(90deg, rgb(92, 182, 255) 0%, rgb(194, 21, 21) 50%, rgb(221, 172, 103) 100%);
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 15px;
    /* margin-left: -8px; */
}